<mat-toolbar color="primary">
  <mat-icon style="height: 38px; width: 38px; margin-right: 1rem" svgIcon="app_logo_inverted"></mat-icon>
  <span>SmartChoices</span>
  <span class="full-width-spacer"></span>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="export()">
      <mat-icon>save_alt</mat-icon>
      <span>Export</span>
    </button>
    <button mat-menu-item (click)="import()">
      <mat-icon>restore</mat-icon>
      <span>Import</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <mat-card *ngIf="exportedString" class="mt-3">
    <p>Copy the whole string and save it somewhere.</p>
    <mat-form-field class="w-100" appearance="outline">
      <textarea readonly matInput [value]="exportedString" rows="5"></textarea>
    </mat-form-field>
  </mat-card>
  <mat-card *ngIf="showImport" class="mt-3">
    <p>Paste a VALID string in the box below.</p>
    <mat-form-field class="w-100" appearance="outline">
      <textarea matInput [(ngModel)]="importedString" rows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-100" (click)="finishImport()">
      Import
    </button>
  </mat-card>
  <mat-card class="mt-3" *ngIf="smartChoices.length > 0">
    <mat-card-content>
      <mat-list class="my-list-group pt-0 smart-choice-list clickable">
        <mat-list-item matRipple class="smart-choice-list-item" *ngFor="let smartChoice of smartChoices; let i = index"
                       (click)="viewSmartChoiceItem(i)">
          <div mat-line>
            <span class="title">{{smartChoice.title}}</span>
            <span class="date">{{smartChoice.created | date}}</span>
          </div>
          <div mat-line class="mt-2">
            <mat-chip-list>
              <mat-chip>
                <mat-icon>person</mat-icon>
                <span class="person-count">{{smartChoice.persons.length}}</span></mat-chip>
              <mat-chip>
                <mat-icon>group</mat-icon>
                <span class="group-count">{{smartChoice.groups.length}}</span></mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-3">
    <mat-card-content>
      <article>
        <h1>Welcome</h1>
        <p>To this web-based application to help you assigning people to groups based on their wishes.</p>
        <mat-error>Due to browser storage limitation, please delete old smart choices. You can export / import in the menu top right.</mat-error>
        <section>
          <h2>1. Naming</h2>
          <dl>
            <dt>Group</dt>
            <dd>A group consists of a name and a capacity. In the division process there might be a notice to increase capacity to achieve better results.</dd>
            <dt>Person</dt>
            <dd>A Person only has a name. In the Preference section you'll be able to set wishes for a person</dd>
            <dt>Wishes</dt>
            <dd>A person has a priority list of wishes. The wish on top is the most preferred group. The number of wishes for all persons should be equal but they must not be</dd>
            <dt>Division</dt>
            <dd>The division tries to find the best match.</dd>
            <dt>Satisfaction</dt>
            <dd>The lower the better, the program will always try to find the lowest possible. There might be a slightly better division, this program will not calculate all possible divisions!</dd>
          </dl>
        </section>
        <section>
          <h2>2. QA</h2>
          <dl>
            <dt>How does it work?</dt>
            <dd>Create a new SmartChoice with the button on the bottom right. Add your persons, groups and start
              assigning wishes. Then start the division.
            </dd>
            <dt>Where does my data get saved?</dt>
            <dd>All the data is locally stored, so make sure to not clear history/cache of this website. Up and coming
              is a backup feature
            </dd>
          </dl>
        </section>
      </article>
    </mat-card-content>
  </mat-card>
</div>
<button class="new-smart-choice-fab" mat-fab color="primary" (click)="newSmartChoice()">
  <mat-icon>add</mat-icon>
</button>
