.smart-choice-list{
  .smart-choice-list-item {
    position: relative;
    height: 85px;
    .title {

    }

    .date {
      position: absolute;
      right: 1rem;
      color: rgba(255,255,255,.7)
    }
  }
}
.new-smart-choice-fab{
  position: fixed;
  bottom: 24px;
  right: 24px;
}
