<h2 class="mb-0" mat-dialog-title>{{data.title}}</h2>
<div mat-dialog-content>
  <p class="mb-0 mt-1">{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="accent" (click)="onNoClick()" autofocus>Cancel</button>
  <span class="full-width-spacer"></span>
  <button mat-raised-button [mat-dialog-close]="true" color="accent">OK</button>
</div>
