.person-preferred-group-list {
  position: relative;
  flex-grow: 100;

  mat-chip {
    white-space: nowrap;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

::ng-deep .person-preferred-group-list .mat-chip-list-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-wrap: nowrap;
}

.person-list-scroll-viewport {
  max-height: 300px;
}
