<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/smartChoicesDetails/{{smartChoiceIndex}}" class="home-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>SmartChoices – Division</span>
</mat-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mt-3">
        <button *ngIf="calculationStatus != 1" mat-raised-button color="primary" class="w-100" (click)="start()">
          Start division
        </button>
        <mat-progress-bar *ngIf="calculationStatus == 1" class="mt-2" mode="determinate"
                          value="{{calculationProgress}}"></mat-progress-bar>
        <p *ngIf="calculationStatus==1"
           style="text-align: center; font-size: 1.2rem; opacity: 0.7; margin-top: 1rem">{{calculationProgress}}%</p>
        <div *ngIf="calculationStatus == 2" class="mt-2">
          <mat-chip-list>
            <mat-chip matTooltip="The lower this number, the better the division">{{bestDivisionResult.satisfaction}}
              <mat-icon>assessment</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="mt-3">
        <mat-card-title>Tips</mat-card-title>
        <mat-card-content>
          <p *ngIf="calculationStatus != 2" style="opacity: 0.7">Please start the division to view tips</p>
          <div *ngIf="manualMovementMade && calculationStatus == 2" class="d-flex">
            <mat-icon color="warn" class="mr-1">cancel</mat-icon>
            <span style="opacity: 0.7">tips may be outdated due to manual changes</span>
          </div>
          <mat-list *ngIf="calculationStatus == 2" class="my-list-group">
            <mat-list-item *ngFor="let filledGroup of getFilledGroupsWithCapacityIncreaseNotice();">
              Increase capacity of "{{filledGroup.group.name}}" by {{filledGroup.increaseCapacityNotice}}
              <span class="full-width-spacer"></span>
              <mat-slider class="mr-2" thumbLabel min="1" [max]="filledGroup.increaseCapacityNotice"
                          [(ngModel)]="filledGroup.increaseCapacity">
              </mat-slider>
              <button mat-raised-button color="accent" (click)="increaseCapacityOfFilledGroup(filledGroup)">
                Increase capacity by {{filledGroup.increaseCapacity}}
              </button>
            </mat-list-item>
          </mat-list>
          <p *ngIf="calculationStatus == 2 && getFilledGroupsWithCapacityIncreaseNotice().length === 0"
             style="opacity: 0.7">There are currently no tips</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider class="mt-2"></mat-divider>
  <div class="mt-2 card-columns" *ngIf="calculationStatus == 2">
    <mat-card *ngFor="let filledGroup of bestDivisionResult.filledGroups">
      <mat-card-title>
        {{filledGroup.group.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{filledGroup.persons.length}}/{{filledGroup.group.capacity}} Capacity
      </mat-card-subtitle>
      <mat-card-content class="h-100">
        <mat-list
          class="my-list-group draggable h-100"
          cdkDropList
          [id]="'G_' + filledGroup.group.uuid"
          [cdkDropListData]="filledGroup.persons"
          [cdkDropListConnectedTo]="getAllMatListPersonCardIds()"
          (cdkDropListDropped)="drop($event)"
        >
          <mat-list-item *ngFor="let person of filledGroup.persons" cdkDrag>
            <span style="flex-grow: 2">{{person.name}}</span>
            <span class="full-width-spacer"></span>
            <mat-chip-list class="person-preferred-group-list">
              <span class="full-width-spacer"></span>
              <mat-chip matTooltip="{{group.name}}" *ngFor="let group of person.preferredGroups"
                        [selected]="group.uuid === filledGroup.group.uuid">
                <span>{{group.name}}</span>
              </mat-chip>
            </mat-chip-list>
            <span *cdkDragPreview style="color: white; border: 1px solid white; border-radius: 3px; padding: .5rem;">{{person.name}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
