<h2 class="mb-0" mat-dialog-title>Create new</h2>
<div mat-dialog-content>
  <p class="mb-0 mt-1">Please enter a name:</p>
  <mat-form-field class="w-100" color="accent">
    <input matInput placeholder="name" [(ngModel)]="name" (keypress)="keyPressed($event)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="accent" (click)="onNoClick()">Cancel</button>
  <span class="full-width-spacer"></span>
  <button mat-raised-button [mat-dialog-close]="name" color="accent">Create</button>
</div>
