<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" class="home-button">
    <mat-icon>home</mat-icon>
  </button>
  <span>SmartChoices – {{smartChoice.title}}</span>
  <span class="toolbar-spacer"></span>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="renameSmartChoice()">
      <mat-icon>settings</mat-icon>
      <span>Rename</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="deleteSmartChoice()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3">
      <mat-card class="pb-4 overview-card" matRipple routerLink="/smartChoicePersons/{{smartChoiceIndex}}">
        <h3>Persons</h3>
        <div class="icon-big">
          <mat-icon>person</mat-icon>
        </div>
        <div class="card-info">
          {{smartChoice.persons.length}}
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 mt-3">
      <mat-card class="pb-4 overview-card" matRipple routerLink="/smartChoiceGroups/{{smartChoiceIndex}}">
        <h3>Groups</h3>
        <div class="icon-big">
          <mat-icon>group</mat-icon>
        </div>
        <div class="card-info">
          {{smartChoice.groups.length}}
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <mat-card class="preferences">
        <h3>Preferences</h3>
        <div class="row">
          <div class="col-md-6 automated">
            <div class="row">
              <div class="col-md-6">
                <mat-slide-toggle>Activate link</mat-slide-toggle>
              </div>
              <div class="col-md-6">
                <p class="preference-link">{{preferenceLink}}</p>
              </div>
            </div>
            <p class="visitor-text">Visitors of this link can choose their preferred groups.</p>
          </div>
          <div class="col-md-6">
            <button class="w-100" mat-stroked-button routerLink="/smartChoiceManualPreferences/{{smartChoiceIndex}}">Make connections manually</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <mat-card>
        <div class="d-flex division flex-wrap">
          <div class="division-process-icons" *ngIf="smartChoice.isDivisionPossible()">
            <mat-icon color="accent">person</mat-icon>
            <mat-icon color="accent">arrow_right</mat-icon>
            <mat-icon color="accent">group</mat-icon>
          </div>
          <div class="division-process-icons" *ngIf="!smartChoice.isDivisionPossible()">
            <mat-icon color="warn">cancel</mat-icon>
          </div>
          <h3 *ngIf="!smartChoice.isDivisionPossible()">
            Division is not possible
            <p>Not enough capacity. Total capacity: {{smartChoice.calculateCapacity()}}</p>
          </h3>
          <h3 *ngIf="smartChoice.isDivisionPossible()">
            Division is possible
            <p>Total capacity: {{smartChoice.calculateCapacity()}}</p>
          </h3>
          <span class="full-width-spacer"></span>
          <button class="d-inline" mat-raised-button color="primary" [disabled]="!smartChoice.isDivisionPossible()" routerLink="/smartChoiceDivision/{{smartChoiceIndex}}">START</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
