.icon-big {
  text-align: center;

  mat-icon {
    font-size: 6rem;
    height: 6rem;
    width: 6rem;
  }
}

.card-info {
  text-align: center;
  font-size: 2rem;
}

.overview-card {

  cursor: pointer;
  padding-top: 2rem;
  user-select: none;

  h3 {
    text-align: center;
    font-size: 2.5rem;
  }
}

.home-button {
  margin-right: .8rem;

  mat-icon {
    line-height: 20px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.division {
  .division-process-icons {
    user-select: none;
    flex-grow: 1;
    text-align: center;
    align-self: center;

    mat-icon {
      font-size: 2.5rem !important;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
    }
  }

  h3 {
    font-size: 1.2rem;
    align-self: center;
    margin: 0;
    font-weight: bold;

    p {
      font-weight: normal;
      font-size: 1rem;
      opacity: 0.7;
      margin: 0;
    }
  }

  button {
    flex-grow: 2;
  }
}

.preferences {
  h3 {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0;
  }

  .automated {
    text-align: center;

    .preference-link {
      opacity: 0.7;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 3px;
    }

    .visitor-text {
      opacity: 0.7;
    }
  }
}
