<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/smartChoicesDetails/{{smartChoiceIndex}}" class="home-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>SmartChoices – Preferences</span>
</mat-toolbar>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="person-card">
        <mat-card-title>Persons</mat-card-title>
        <cdk-virtual-scroll-viewport class="person-list-scroll-viewport" itemSize="{{smartChoice.persons.length}}" minBufferPx="200" maxBufferPx="400">
          <mat-list class="my-list-group clickable person-list">
            <mat-list-item *cdkVirtualFor="let person of smartChoice.persons" (click)="selectPerson(person)"
                           [class.selected]="person === selectedPerson">
              {{person.name}}
              <span class="full-width-spacer"></span>
              <div *ngIf="person.preferredGroups.length > 0">
                <mat-icon color="accent" [matBadge]="person.preferredGroups.length.toString(10)">check_circle</mat-icon>
              </div>
            </mat-list-item>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </mat-card>
    </div>
    <div class="col-md-6" *ngIf="selectedPerson">
      <div>
        <mat-card>
          <mat-card-title>Preferences (by priority)</mat-card-title>
          <mat-list class="my-list-group draggable p-2"
                    #preferredGroupList="cdkDropList"
                    cdkDropList
                    [cdkDropListData]="selectedPerson.preferredGroups"
                    [cdkDropListConnectedTo]="[availableGroupList]"
                    (cdkDropListDropped)="drop($event)"

          >
            <p style="font-size: 1.2rem; opacity: 0.7; text-align: center"
               *ngIf="selectedPerson.preferredGroups.length === 0">Please drag the preferred groups here</p>
            <mat-list-item *ngFor="let group of selectedPerson.preferredGroups; let i = index" cdkDrag (click)="moveGroupBackToAvailableGroups(i)">
              {{group.name}}
            </mat-list-item>
          </mat-list>
        </mat-card>
        <mat-card class="mt-2">
          <mat-card-title>Groups</mat-card-title>
          <mat-list class="my-list-group draggable"
                    cdkDropList
                    #availableGroupList="cdkDropList"
                    [cdkDropListData]="availableGroups"
                    [cdkDropListConnectedTo]="[preferredGroupList]"
                    (cdkDropListDropped)="drop($event)"

          >
            <mat-list-item *ngFor="let group of availableGroups; let i = index" cdkDrag (click)="moveGroupToPreferences(i)">
              {{group.name}}
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!selectedPerson">
      <mat-card>
        <p style="font-size: 1.2rem; opacity: 0.7; text-align: center">Please select a person on the left</p>
      </mat-card>
    </div>
  </div>
</div>
