<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/smartChoicesDetails/{{smartChoiceIndex}}" class="home-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>SmartChoices – Persons</span>
</mat-toolbar>
<div class="container mt-3">
  <mat-card>
    <mat-form-field class="w-100" color="accent">
      <input matInput placeholder="Name" [(ngModel)]="newPersonsName" (keypress)="keyPressed($event)">
    </mat-form-field>
    <button mat-raised-button class="w-100" color="primary" (click)="addNewPerson()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="row mt-2">
      <div class="col-md-6">
        <button mat-raised-button disabled class="w-100" color="primary">
          Import from Excel
        </button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button color="accent" class="w-100" [matMenuTriggerFor]="importFromGroupMenu">Import from other SmartChoice</button>
        <mat-menu #importFromGroupMenu="matMenu" xPosition="before">
          <button mat-menu-item *ngFor="let sc of getAllSmartChoicesExceptThis()" (click)="importPersonsFromSmartChoice(sc)">{{sc.title}} ({{sc.persons.length}} persons)</button>
        </mat-menu>
      </div>
    </div>
  </mat-card>
  <mat-card class="mt-3">
    <mat-list class="pt-0 my-list-group">
      <mat-list-item *ngFor="let person of smartChoice.persons; let i = index">
        <span>{{person.name}}</span>
        <span class="person-spacer"></span>
        <button mat-icon-button (click)="editPerson(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removePerson(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
