<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/smartChoicesDetails/{{smartChoiceIndex}}" class="home-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>SmartChoices – Groups</span>
</mat-toolbar>
<div class="container mt-3">
  <mat-card>
    <div class="row">
      <div class="col-md-10">
        <mat-form-field class="w-100" color="accent">
          <input matInput placeholder="Name" [(ngModel)]="newGroupName" #groupNameInput>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="w-100" color="accent">
          <input type="number" min="0" pattern="[0-9]*" matInput placeholder="Capacity" [(ngModel)]="newGroupCapacity" (keypress)="keyPressed($event)">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="w-100" color="primary" (click)="addNewGroup()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="row mt-2">
      <div class="col-md-6">
        <button mat-raised-button disabled class="w-100" color="primary">
          Import from Excel
        </button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button color="accent" class="w-100" [matMenuTriggerFor]="importFromGroupMenu">Import from other SmartChoice</button>
        <mat-menu #importFromGroupMenu="matMenu" xPosition="before">
          <button mat-menu-item *ngFor="let sc of getAllSmartChoicesExceptThis()" (click)="importGroupsFromSmartChoice(sc)">{{sc.title}} ({{sc.groups.length}} groups)</button>
        </mat-menu>
      </div>
    </div>
  </mat-card>
  <mat-card class="mt-3">
    <mat-list class="pt-0 my-list-group">
      <mat-list-item *ngFor="let group of smartChoice.groups; let i = index">
        <span>{{group.name}} ({{group.capacity}})</span>
        <span class="full-width-spacer"></span>
        <button mat-icon-button (click)="editGroup(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removeGroup(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
