/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-logo {
  margin-right: 1rem !important;

  height: 48px !important;
  width: 48px !important;

  mat-icon {
    font-size: 7.57rem;
    height: 48px !important;
    width: 48px !important;
  }
}

/**
  mimics bootstraps list-group
 */
.my-list-group {
  $border-color: rgba(255, 255, 255, 0.1);

  > * {
    border: 1px solid $border-color;
    border-bottom: none;

    padding: 13px;
  }

  > *:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  > *:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    border-bottom: 1px solid $border-color;
  }

}

.my-list-group.clickable {

  > *:hover {
    background-color: #323232;
  }

}

.my-list-group.draggable, .my-list-group.clickable {
  > * {
    cursor: pointer;
  }
}

.full-width-spacer {
  flex: 1 1 auto;
}

.card-columns{
  display: flex;
  flex-wrap: wrap;
  mat-card{
    flex-grow: 1;
    flex-basis: calc(50% - 1rem);
    margin: .5rem;
  }
}
