@import '~@angular/material/theming';
// Plus imports for other components in your app. #01A7C2

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


/* #01A7C2*/
$primary-palette: (
  50 : #e1f4f8,
  100 : #b3e5ed,
  200 : #80d3e1,
  300 : #4dc1d4,
  400 : #27b4cb,
  500 : #01a7c2,
  600 : #019fbc,
  700 : #0196b4,
  800 : #018cac,
  900 : #007c9f,
  A100 : #c9f1ff,
  A200 : #96e4ff,
  A400 : #63d7ff,
  A700 : #4ad0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary: mat-palette($primary-palette);
$accent:  mat-palette($mat-green, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($primary, $accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
