<h2 class="mb-0" mat-dialog-title>Edit Group</h2>
<div mat-dialog-content>
  <p class="mb-0 mt-1">Please enter the new name:</p>
  <div class="row">
    <div class="col-md-8">
      <mat-form-field class="w-100" color="accent">
        <input matInput [(ngModel)]="data.name" (keypress)="keyPressed($event)">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100" color="accent">
        <input type="number" min="0" pattern="[0-9]*" matInput placeholder="Capacity" [(ngModel)]="data.capacity" (keypress)="keyPressed($event)">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="accent" (click)="onNoClick()">Cancel</button>
  <span class="full-width-spacer"></span>
  <button mat-raised-button [mat-dialog-close]="data" color="accent">OK</button>
</div>
